:root {
  --bg-color: #f0f0f0;
  --address-color: #0022ff;
  --grey-100: #e0e0e0;
}

body {
  background-color: #eee;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-escrow {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.contract,
.existing-contracts {
  margin: 20px;
  display: inline-block;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type='number'],
input[type='text'] {
  padding: 6px;
  font-size: 18px;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}

.address {
  font-weight: 500;
  font-size: x-small;
  color: var(--address-color);
  display: inline-flex;
  border: 1px solid var(--grey-100);
  padding: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #f0f0f0;
  margin: 0.1rem;
}
